@media (max-width: 450px) {
  .section1 {
    height: auto;
    flex-wrap: wrap;
  }
  .container1img {
    width: 90vw;
    height: 75vw;
    margin: 2vw 0;
  }
  .container1para {
    width: 90vw;
    height: 45vw;
    margin: 1vw 2vw;
    padding-top: 0;
  }
  .container1para p {
    font-size: 3.2vw;
  }
  /*Section2*/
  .section2 {
    padding: 5vw 0;
  }
  .container2 {
    flex-direction: column;
  }
  .container2para h4 {
    font-size: 5.8vw;
    line-height: 10vw;
  }
  .container2para ul {
    font-size: 3vw;
    line-height: 4.5vw;
  }
  .container2img {
    width: 75vw;
    height: 55vw;
    margin: 3.5vw;
  }
}
@media (min-width: 450px) and (max-width: 750px) {
  .section1 {
    height: auto;
    flex-wrap: wrap;
  }
  .container1img {
    width: 90vw;
    height: 75vw;
    margin: 2vw 0;
  }
  .container1para {
    width: 90vw;
    height: 45vw;
    margin: 1vw 2vw;
    padding-top: 0;
  }
  .container1para p {
    font-size: 3.2vw;
  }
  /*Section2*/
  .section2 {
    padding: 5vw 0;
  }
  .container2 {
    flex-direction: column;
  }
  .container2para h4 {
    font-size: 5.8vw;
    line-height: 10vw;
  }
  .container2para ul {
    font-size: 3vw;
    line-height: 4.5vw;
  }
  .container2img {
    width: 74vw;
    height: 50vw;
    margin: 3.5vw;
  }
}
